---
import "@/styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container mx-auto prose dark:prose-invert">
      <h1 class="my-8">Astro Shadcn/UI Starter</h1>
    </div>
  </main>
</Layout>
